.input {
  @include text-style(2, 600, $skyblue-300);
  background-color: $skyblue-100;
  border-radius: 0.6rem;
  padding: 2rem;
  width: 58rem;

  &::placeholder {
    @include text-style(2, 600, $skyblue-200);
    text-align: center;
  }
}
