.card {
  @include text-style(2.4, 700);
  color: var(--random-color);
  background-color: var(--random-background-color);
  width: 20rem;
  height: calc(2.4rem * 6 + 1.5rem * 2);
  padding: 1.5rem;
  border-radius: 0.6rem;
  overflow: hidden;
  line-height: 2.4rem;

  &-content {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}
