.title {
  @include text-style(6, 700, $skyblue-300);
  width: 100%;

  &-input {
    width: 100%;

    &::placeholder {
      color: $skyblue-200;
    }
  }

  &-line {
    width: 10rem;
    height: 0.8rem;
    background-color: $skyblue-300;
  }
}
